.main-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background: linear-gradient(
    135deg,
    #4fc7fd,
    #ffffff,
    #ffffff,
    #ffffff,
    #4fc7fd
  );
  overflow: hidden;
}
.onpoint p {
  font-size: 15px;
}
.onpoint {
  position: absolute;
  z-index: 3;
  width: 90%;
  bottom: 10px;
  left: 100px;
}
.img {
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}
.bakti_1 {
  background-image: url('../../images/HomePageImg/bakti_1.png');
  height: 100px;
  width: 100px;
  bottom: 150px;
  left: 15px;
  z-index: 0;
  animation: bounce1 6s linear infinite;
}
@keyframes bounce1 {
  0% {
    bottom: 150px;
    left: 15px;
  }
  50% {
    bottom: 180px;
    left: 7px;
  }
  100% {
    bottom: 150px;
    left: 15px;
  }
}
.layer4_1 {
  background-image: url('../../images/HomePageImg/layer4_1.png');
  height: 60px;
  width: 60px;
  bottom: 70px;
  left: 330px;
}
.layer4_2 {
  background-image: url('../../images/HomePageImg/Layer4_2.png');
  height: 70px;
  width: 70px;
  top: 40px;
  right: 50px;
}
.layer4 {
  background-image: url('../../images/HomePageImg/layer4.png');
  height: 140px;
  width: 290px;
  bottom: 0;
  right: 300px;
  animation: bounce4 6s linear infinite;
}
@keyframes bounce4 {
  0% {
    height: 140px;
    width: 290px;
    bottom: 0;
  }
  50% {
    height: 180px;
    width: 350px;
    bottom: -30px;
  }
  100% {
    height: 140px;
    width: 290px;
    bottom: 0;
  }
}
.layer5 {
  background-image: url('../../images/HomePageImg/layer5.png');
  height: 150px;
  width: 150px;
  top: 50px;
  right: 270px;
  animation: bounce5 6s linear infinite;
}
@keyframes bounce5 {
  0% {
    top: 50px;
    right: 270px;
  }
  50% {
    top: 120px;
    right: 200px;
  }
  100% {
    top: 50px;
    right: 270px;
  }
}
.layer7 {
  background-image: url('../../images/HomePageImg/layer7.png');
  height: 100px;
  width: 130px;
  top: 50px;
  left: 0;
}
.layer8 {
  background-image: url('../../images/HomePageImg/layer8.png');
  height: 170px;
  width: 170px;
  top: 200px;
  right: 70px;
  z-index: 1;
  animation: bounce8 7s linear infinite, rotate8 25s linear infinite;
}
@keyframes bounce8 {
  0% {
    top: 200px;
    right: 70px;
  }
  50% {
    top: 100px;
    right: 120px;
  }
  100% {
    top: 200px;
    right: 70px;
  }
}
@keyframes rotate8 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
.pink_sperm_1 {
  background-image: url('../../images/HomePageImg/pink_sperm_1.png');
  height: 200px;
  width: 450px;
  top: 150px;
  right: 200px;
  z-index: 1;
}
.pink_sperm {
  background-image: url('../../images/HomePageImg/pink_sperm.png');
  height: 120px;
  width: 210px;
  bottom: 50px;
  left: 30px;
}
